#### Importing data with pandas

In [9]:
import pandas as pd

file_path=r"C:/Users/Samsung\Desktop/Python AI ucenje/customer_segmentation.csv"

file_data = pd.read_csv(file_path)

file_data.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [11]:
missing_values = file_data.isna()
print(missing_values[missing_values>0])

       ID Year_Birth Education Marital_Status Income Kidhome Teenhome  \
0     NaN        NaN       NaN            NaN    NaN     NaN      NaN
1     NaN        NaN       NaN            NaN    NaN     NaN      NaN
2     NaN        NaN       NaN            NaN    NaN     NaN      NaN
3     NaN        NaN       NaN            NaN    NaN     NaN      NaN
4     NaN        NaN       NaN            NaN    NaN     NaN      NaN
...   ...        ...       ...            ...    ...     ...      ...
2235  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2236  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2237  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2238  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2239  NaN        NaN       NaN            NaN    NaN     NaN      NaN

     Dt_Customer Recency MntWines  ... NumWebVisitsMonth AcceptedCmp3  \
0            NaN     NaN      NaN  ...               NaN          NaN
1            NaN     NaN      NaN  ...               NaN          NaN
2            NaN     NaN      NaN  ...               NaN          NaN
3            NaN     NaN      NaN  ...               NaN          NaN
4            NaN     NaN      NaN  ...               NaN          NaN
...          ...     ...      ...  ...               ...          ...
2235         NaN     NaN      NaN  ...               NaN          NaN
2236         NaN     NaN      NaN  ...               NaN          NaN
2237         NaN     NaN      NaN  ...               NaN          NaN
2238         NaN     NaN      NaN  ...               NaN          NaN
2239         NaN     NaN      NaN  ...               NaN          NaN

     AcceptedCmp4 AcceptedCmp5 AcceptedCmp1 AcceptedCmp2 Complain  \
0             NaN          NaN          NaN          NaN      NaN
1             NaN          NaN          NaN          NaN      NaN
2             NaN          NaN          NaN          NaN      NaN
3             NaN          NaN          NaN          NaN      NaN
4             NaN          NaN          NaN          NaN      NaN
...           ...          ...          ...          ...      ...
2235          NaN          NaN          NaN          NaN      NaN
2236          NaN          NaN          NaN          NaN      NaN
2237          NaN          NaN          NaN          NaN      NaN
2238          NaN          NaN          NaN          NaN      NaN
2239          NaN          NaN          NaN          NaN      NaN

     Z_CostContact Z_Revenue Response
0              NaN       NaN      NaN
1              NaN       NaN      NaN
2              NaN       NaN      NaN
3              NaN       NaN      NaN
4              NaN       NaN      NaN
...            ...       ...      ...
2235           NaN       NaN      NaN
2236           NaN       NaN      NaN
2237           NaN       NaN      NaN
2238           NaN       NaN      NaN
2239           NaN       NaN      NaN

[2240 rows x 29 columns]

In [13]:
file_data_cleaned = file_data.dropna()

In [14]:
file_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 519.4+ KB

In [15]:
missing_values = file_data_cleaned.isna()
print(missing_values[missing_values>0])

       ID Year_Birth Education Marital_Status Income Kidhome Teenhome  \
0     NaN        NaN       NaN            NaN    NaN     NaN      NaN
1     NaN        NaN       NaN            NaN    NaN     NaN      NaN
2     NaN        NaN       NaN            NaN    NaN     NaN      NaN
3     NaN        NaN       NaN            NaN    NaN     NaN      NaN
4     NaN        NaN       NaN            NaN    NaN     NaN      NaN
...   ...        ...       ...            ...    ...     ...      ...
2235  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2236  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2237  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2238  NaN        NaN       NaN            NaN    NaN     NaN      NaN
2239  NaN        NaN       NaN            NaN    NaN     NaN      NaN

     Dt_Customer Recency MntWines  ... NumWebVisitsMonth AcceptedCmp3  \
0            NaN     NaN      NaN  ...               NaN          NaN
1            NaN     NaN      NaN  ...               NaN          NaN
2            NaN     NaN      NaN  ...               NaN          NaN
3            NaN     NaN      NaN  ...               NaN          NaN
4            NaN     NaN      NaN  ...               NaN          NaN
...          ...     ...      ...  ...               ...          ...
2235         NaN     NaN      NaN  ...               NaN          NaN
2236         NaN     NaN      NaN  ...               NaN          NaN
2237         NaN     NaN      NaN  ...               NaN          NaN
2238         NaN     NaN      NaN  ...               NaN          NaN
2239         NaN     NaN      NaN  ...               NaN          NaN

     AcceptedCmp4 AcceptedCmp5 AcceptedCmp1 AcceptedCmp2 Complain  \
0             NaN          NaN          NaN          NaN      NaN
1             NaN          NaN          NaN          NaN      NaN
2             NaN          NaN          NaN          NaN      NaN
3             NaN          NaN          NaN          NaN      NaN
4             NaN          NaN          NaN          NaN      NaN
...           ...          ...          ...          ...      ...
2235          NaN          NaN          NaN          NaN      NaN
2236          NaN          NaN          NaN          NaN      NaN
2237          NaN          NaN          NaN          NaN      NaN
2238          NaN          NaN          NaN          NaN      NaN
2239          NaN          NaN          NaN          NaN      NaN

     Z_CostContact Z_Revenue Response
0              NaN       NaN      NaN
1              NaN       NaN      NaN
2              NaN       NaN      NaN
3              NaN       NaN      NaN
4              NaN       NaN      NaN
...            ...       ...      ...
2235           NaN       NaN      NaN
2236           NaN       NaN      NaN
2237           NaN       NaN      NaN
2238           NaN       NaN      NaN
2239           NaN       NaN      NaN

[2216 rows x 29 columns]

In [16]:
file_data_cleaned.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,...,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.0,2216.0,2216.000000
mean,5588.353339,1968.820397,52247.251354,0.441787,0.505415,49.012635,305.091606,26.356047,166.995939,37.637635,...,5.319043,0.073556,0.074007,0.073105,0.064079,0.013538,0.009477,3.0,11.0,0.150271
std,3249.376275,11.985554,25173.076661,0.536896,0.544181,28.948352,337.327920,39.793917,224.283273,54.752082,...,2.425359,0.261106,0.261842,0.260367,0.244950,0.115588,0.096907,0.0,0.0,0.357417
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2814.750000,1959.000000,35303.000000,0.000000,0.000000,24.000000,24.000000,2.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,174.500000,8.000000,68.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8421.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,505.000000,33.000000,232.250000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000